/*

!.gitignore

!.Xresources

!.config/
.config/*

!.config/eww/
!.config/eww/*
.config/eww/.vscode

!.config/gtk-3.0/settings.ini
!.config/gtk-4.0/settings.ini
!.gtkrc-2.0

!.xinitrc
!.xmobarrc
!.xmonad/xmonad.hs

!.xprofile
!.zshrc
